@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloock&family=Labrada:wght@300&family=Yeseva+One&display=swap');

body {
	background-color: #70161E;
}

header {
	font-family: 'Gloock', serif;
	font-size: 30px;
	color: #D7C9AA;
	display:flex;
	justify-content: center;
	position: relative;
	margin: 5%;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 50px;
	color: #F0F3F5;
}

h2 {
	font-family: 'Labrada', serif;
	font-size: 40px;
	color: #F0F3F5;
}

p{
	font-family: 'Labrada', serif;
	font-size: 20px;
	color: #D7C9AA;
}

.hero-image-container{
	margin: 50px;
	position:relative;
}

#hero-image{
	width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1rem solid #000000;
}

.line1-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: 20vh;
  background-color: #D7C9AA;
  position: relative;
  box-sizing: border-box;
}

.line1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  line-height: 0.1;
  color: black;
}

.bottomtitle-container{
	display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20vh;
  background-color: #D7C9AA;
  position: relative;
}

.bottomtitle {
	font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  color: black;
  line-height: 0.1;
}

.directory{
	font-family: 'Labrada', serif;
	display:flex;
	justify-content: space-evenly;
	padding: 8%;
	background-color: #D7C9AA;
}

.intro{
	font-family: 'Labrada', serif;
	font-size: 2rem;
	margin: 10%;
	padding: 2%;
	color: #D7C9AA ;
	display:flex;
	justify-content: center;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
}

.navbar {
	background-color: #011627;
	padding: 2% ;
}

a:link, a:visited {
  background-color: #011627;
  color: #F0F3F5;
 	font-size: 2em;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;

}

a:hover, a:active {
  background-color: #9C3848;
  color: #011627;
}

.article-container {
  display: flex;

}

.article {
  flex: 1;
  background-color: #D7C9AA;
  margin: 2%;
  padding: 20px;
  justify-content: flex;
}

.article-color {
	color: #011627;
}

.read-more{
	display: flex;
	justify-content: flex-end;
}

.community{
	margin: 2%;
}

.literature{
	margin: 2%;
}

.aboutme{
	margin: 2%;
}

.book-container{
 	display: flex;
  flex-direction: row;
}

.book-summary, .book{
	flex-basis: 75%;
}

.book{
	max-height: 20%;
	max-width: 25%;
	padding: 2%;
	display: flex;
	flex-direction: flex-end;
}

.about-me-image{
	display: flex;
  align-items: center;
  justify-content: center;
}



